bw2analyzer==0.11.4
bw2calc==2.0.dev12
bw2data==4.0.dev18
bw2parameters==0.7
bw_processing==0.8.2
matrix_utils==0.2.5
mrio_common_metadata==0.2.1
bw_migrations==0.2
numpy==1.24.0
pandas==1.5.3
stats_arrays==0.6.5
bentso==0.4
scipy
scikit-learn
xgboost
jupyter
plotly
country_converter
thefuzz
