asteval
bentso==0.4
bw2analyzer==0.11.4
bw2calc==2.0.dev12
bw2data==4.0.dev18
bw2parameters==0.7
bw_migrations==0.2
bw_processing==0.8.2
country_converter
entsoe-py
jupyter
kaleido
matrix_utils==0.2.5
mrio_common_metadata==0.2.1
numpy==1.24.0
pandas==1.5.3
plotly
pypardiso
scikit-learn
scipy
shap
stats_arrays==0.6.5
thefuzz
xgboost